<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlahBlah</title>

    <link rel="stylesheet" type="style" href="css/style.css"> 
</head>

<body>
    <header>
        <h1> Apartment assistance portal </h1>
    </header>
    <nav>
        <a href="/">Home</a>
        {{#if loggedIn}}
        <button id="logout" class="btn-no-style">Logout</button>
        <script src="/js/logout.js"></script>
        {{else}}
        <a href="/login">Login</a>
        {{/if}}
    </nav>
    <main>
        <aside>
            <h2>Another saying we can put here!</h2>
        </aside>
        <div class="">
            {{{body}}}
        </div>
    </main>
    
</body>

</html>


