{{!-- TODO update uer.email --}}


{{#each users as |user| }}
<div class="row align-center mb-5">
    <div class="col-md-6">
        <h2>{{{get_emoji}}} {{user.name}}</h2>
    </div>
    <div class="col-md-6">
        <h3><a href="mailto:{{user.email}}">{{user.email}}</a></h3>
    </div>
</div>
{{/each}}



{{!-- 
<div class="form-group">
    <button class="btn btn-seccondary" type="issue"> maintenance help </button>
</div>

home page: 

   User:

   -Create a new issue button

    -see the issues that have been created on a list/table

    -see the data of issue (date to fix, status, handyman assigned, issue description)

  -User

Ex. Only the user issues

UserId:  whougie   Issue: fix sink, apt 12, status: Not fixed

UserId:  whougie   Issue: fix sink, apt 12, status: Fixed 

  -Manager: 17check

   -see all user issues on list/table

  -create button assigned the handyman

   -see the data of issue (date to fix, status, handyman assigned, issue description)

  Ex. list all users issues

  userId: whougie …

  userId: Kee …

Issue page: 

  -Displays a form that contains:

  --issue description

– Create a submit button 






 --}}