
<html>        
    <body>  
        <form>
            <div class="form-group">
                <label for="date-issued">Date</label>
                <input class="form-input" type="text" id="date-issued" />
            </div>
            <div class="form-group">
                <label for="broken-thing">What's the issue? Any other information? </label>
                <input class="form-input" type="text" id="broken-thing" />
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </form>
        <script src="../public/js/logic.js"></script>
    </body>  
</html>

