
 
        <form>
            <div class="form-group">
                <label for="room">What room is the issue occuring? </label>
                <input class="form-input" type="text" id="room" />
            </div>
            <div class="form-group">
                <label for="broken-thing">What's the issue? Any other information? </label>
                <input class="form-input" type="text" id="broken-thing" />
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </form>
        <script type="text/javascript" src="/js/issue-form.js"></script>


