
<form>
    <div class="form-group">
        <label for="date-issued">Date</label>
        <input class="form-input" type="text" id="date-issued" />
    </div>
    <div class="form-group">
        <label for="broken-thing">What isn't working?</label>
        <input class="form-input" type="text" id="broken-thing" />
    </div>
    <div class="form-group">
        <label for="details">Discribe the malfunction and what happened?</label>
        <input class="form-input" type="text" id="details" />
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</form>